body{
    background: lightgray;
}
.task-content, .project-content{
    margin-top: 30px;
}
.pagination{
    text-align: center;
}
.pagination a, .pagination .page-disabled{
    display: inline-block;
    border: solid 1px #686b7c;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}
.pagination a{
    background: #686b7c;
    color: white;
    text-decoration: none;
}
.pagination a:hover{
    background: #686b7c;
    text-decoration: underline;
}
.pagination .page-disabled{
    background: #686b7c;
    color: #dddddd
}
.pagination .current-page {
    display: inline-block;
}
.pagination .current-page input {
    width: 50px;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 5px;
    text-align: center;
    border: solid 1px gray;
}