
{% extends 'base.html' %}
{% block title%}Detail{% endblock%}
    {% block content%}
    <div class='task-content'>
    <div class="card detail-card text-bg-secondary">
        <h5 class="card-header">{{task.summary}}</h5>
        <div class="card-body">
          <h5>Тип: {% for type in task.type.all %}
            {{ type.name }}
            {% if not forloop.last %}, 
            {% endif %}
            {% endfor %}</h5>
          <h5>Статус задачи: {{task.status}}</h5>
          <p class="card-text">{{task.description}}</p>
          {% if user.is_authenticated%}
          <a href="{% url 'task_update' task.pk %}" class="btn btn-secondary">Редактировать</a>
          <a href="{% url 'task_delete' task.pk %}" class="btn btn-secondary">Удалить</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endblock %}